/* - - - - - - - - - - - - - - - - - - - - - LOGIN PAGE - - - - - - - - - - - - - - - - - - - - - */
/* Style sheet related only to login_page */

p{
    font-family: "Roboto", Sans-Serif, serif;
    text-align: center;
}

a{
    text-decoration: none;
    color: #1A9E0E;
}
a:visited {
    text-decoration: none;
    color: #1A9E0E;
}

.flash-messages {
    margin: 10px 0;
    display: none;
}

.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
}

.flash-message.danger {
    background-color: #f8d7da;
    color: #721c24;
}

#login-page-content {
    display: flex;
    flex-direction: column;
    margin: 0 30%;
    min-width: 300px;
}

.login-text-input {
    display: block;
    background: #D9D9D9;
    margin: 15px auto;
    padding-left: 15px;
    border-width: 0;
    border-radius: 12px;
    font-family: "Roboto", serif;
    font-size: medium;
    width: 75%;
    height: 52px;
}

#login-submit-button {
    width: 183px;
    height: 63px;
    display: block;

    flex-shrink: 0;
    border-radius: 12px;
    background: #1A9E0E;

    border-width: 0;
    margin: 3% auto;

    font-family: "Roboto", Sans-Serif, serif;
    font-size: medium;
    color: white;

    cursor: pointer;
}

#login-submit-button:hover{
    background-color: #17820d;
}

#login-main-logo {
    margin: 10px auto;
    width: 70%;
    min-width: 250px;
}

#login-main-pfp {
    margin: 0 auto;
}

#login-form{
    min-width: 250px;
}



/* Smartphones */
@media (max-width: 480px) {
    #login-page-content {
        margin: 0 5%;
    }
}

/* Tablets / large smartphones */
@media (min-width: 481px) {
    #login-page-content {
        margin: 0 15%;
    }
}

/* Laptops */
@media (min-width: 769px) {
    #login-page-content {
        margin: 0 25%;
    }
}

/* Large desktops */
@media (min-width: 1280px) {
    #login-page-content {
        margin: 0 30%;
    }
}
