/* - - - - - - - - - - - - - - - - - - - - - GENERAL - - - - - - - - - - - - - - - - - - - - - */
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /*box-sizing: border-box;*/
}

h1{
    font-family: "Roboto", serif;
}
.container h1{
    text-align: center;
}

p{
    font-family: "Roboto", serif;
}

.navbar {
    width: 100%;
    height: 7%;
    background: #343A40;
    /* border: 1px solid green; */
}

#navbar-main-icon {
    margin: 0.5% 0.5% 0.5% 1%;
    max-width: 100%;
    height: 80%;
}

.main-content{
    height: 90%;
    margin: 15px;
    display: grid;
    gap: 15px;

}

.container{
    border-radius: 12px;
    background: #D9D9D9;
    min-height: 20px;
    padding: 10px;
    /*margin: 5px;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /*padding: 10px;*/

}

.secondary-container{

}

/* - - - - - - - - - - - - - - - - - - - - - LOGIN PAGE - - - - - - - - - - - - - - - - - - - - - */

#login-page-content{
    display: flex;
    flex-direction: column;
    margin: 0 30%;
    /*background-color: pink;*/
}

.login-text-input {
    display: block;
    background: #D9D9D9;

    margin: 15px auto;
    padding-left: 15px;

    border-width: 0;

    font-family: "Roboto", serif;
    font-size: medium;

    width: 75%;
    height: 52px;

    border-radius: 12px;
}

#login-submit-button {
    width: 183px;
    height: 63px;
    display: block;

    flex-shrink: 0;
    border-radius: 12px;
    background: #1A9E0E;

    border-width: 0;
    margin: 3% auto;

    font-family: "Roboto", Sans-Serif, serif;
    font-size: medium;
    color: white;
}

#login-main-logo {
    margin: 1% auto 8% auto;
    width: 70%;
}

#login-main-pfp {
    margin: 0 auto;
}

/* - - - - - - - - - - - - - - - - - - - - - MAIN PAGE - - - - - - - - - - - - - - - - - - - - - */

#main-menu-main-content{
    grid-template: 1fr 3fr 3fr 3fr / 1fr 2fr;
}

.subject-container {
    display: grid;
    gap: 5px;
    grid-template: 1fr 1fr / 1fr 2fr;
    /*transition: background-color 0.3s, opacity 0.3s;*/
}

.main-menu-subject-code-container{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-subject-code{
    background-color: #A2A4A3;
    border-radius: 5px;

    flex-shrink: 0;

    min-width: 70%;
    max-height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-subject-code p{
    font-size: 140%;
}

.main-menu-subject-name{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-subject-completion-container{
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    gap: 2px;
    grid-template: 1fr 1fr 1fr / 3fr 1fr;
}
.main-menu-subject-badge-container{
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-subject-badge{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-menu-so2-badge-img,
#main-menu-pp2-badge-img,
#main-menu-pp1-badge-img{
    flex-shrink: 0;
    max-width: 80px;
    max-height: 80px;
}

.main-menu-points-container{
    /*background-color: #FFFFFF;*/
    /*max-height: 40px;*/
}

#main-menu-so2-p1{
    grid-area: 1 / 2 / 2 / 3;
}

#main-menu-so2-p2{
    grid-area: 2 / 2 / 3 / 3;
}

#main-menu-so2-p3{
    grid-area: 3 / 2 / 4 / 3;
}

.main-menu-points-container p{
    font-size: 80%;
    margin: 0;
    padding: 0;
}

.main-menu-subject-buttons-container{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: end;
    align-items: end;

}

.subject-topics-button {
    background-color: #4579F9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    max-width: 200px;
    margin-right: 5px;
}

.subject-topics-button:hover {
    background-color: #0056b3;
}

.subject-info-button {

    /*position: absolute;*/
    /*bottom: 10px;*/
    /*right: 10px;*/
    background-color: #343A40;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.subject-container:has(.subject-info-button:hover) * {
    opacity: 0.2;
    transition: opacity 0.3s;
}

.subject-container h1 {
    font-size: 24px;
}

#main-menu-subject-label-container {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-menu-subject-so2-container{
    grid-area: 2 / 1 / 3 / 2;
}

#main-menu-subject-pp2-container{
    grid-area: 3 / 1 / 4 / 2;
}

#main-menu-subject-pp1-container{
    grid-area: 4 / 1 / 5 / 2;
}

#main-menu-profile-container{
    grid-area: 1 / 2 / 3 / 3;
}

#main-menu-competition-container{
    grid-area: 3 / 2 / 5 / 3;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#main-menu-competition-logo{
    max-width: 375px;
    max-height: 375px;
}

/* - - - - - - - - - - - - - - - - - - - - - STATS OVERALL PAGE - - - - - - - - - - - - - - - - - - - - - */
.stats-overall-content{
    grid-template: 1fr 1fr 3fr 2fr / 3fr 2fr 1fr;
}

.stats-overall-topics-container{
    grid-area: 1 / 1 / 5 / 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stats-overall-topics-container h1{
    text-align: center;
    font-size: 20px;
}

.topic{
    flex: 1;
    margin: 0 3%;
    /*border: 1px solid blue;*/
}

.progressbar{
    min-height: 5px;
    max-height: 30px;
    height: 40%;
    width: 100%;
    border-radius: 5px;
    background: #1A9E0E;
}

.topic p{
    font-size: small;
    margin: 0;
}

.stats-overall-subject-container{
    grid-area: 1 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats-overall-subject-container h1{
    text-align: center;
    font-size: 20px;
}

.stats-overall-stat-item{
    background-color: #c1c1c2;
    border-radius: 5px;
}

.stats-overall-subject-container p {
    margin: 3%;
}

.stats-overall-subject-label-container{
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.stats-overall-completion-container{
    grid-area: 2 / 3 / 3 / 4;
}

.stats-header {
    font-size: 16px;
}

.stats-overall-achievements-container{
    grid-area: 3 / 3 / 4 / 4;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats-achievement-position{
    display: flex;
}

.stats-overall-commit-container{
    grid-area: 4 / 2 / 5 / 4;
}

/* - - - - - - - - - - - - - - - - - - - - - PROFILE PAGE - - - - - - - - - - - - - - - - - - - - - */

#profile-content{
    grid-template: 35fr 33fr 21fr / 33fr 60fr 48fr 33fr;
}

#profile-subjects-stats-container{
    grid-area: 1 / 1 / 2 / 2;
}

#profile-featured-achievements-container{
    grid-area: 2 / 1 / 3 / 2;
}

#profile-all-achievements-container{
    grid-area: 1 / 2 / 3 / 4;
}

#profile-streak-container{
    grid-area: 3 / 3 / 4 / 4;
}

#profile-commit-container{
    grid-area: 3 / 1 / 4 / 3;
}

#profile-showcase-container{
    grid-area: 1 / 4 / 1 / 5;
}

#profile-skins-container{
    grid-area: 2 / 4 / 4 / 5;
}

/* - - - - - - - - - - - - - - - - - - - - - CHALLENGE PAGE - - - - - - - - - - - - - - - - - - - - - */

#challenge-main-content{
    grid-template: 2fr 3fr / 1fr 1fr 1fr 1fr;
}

#challenge-instruction-container{
    grid-area: 1 / 1 / 2 / 4;
}

#challenge-file-container{
    grid-area: 2 / 1 / 3 / 2;
}

#challenge-unit-test-container{
    grid-area: 2 / 2 / 3 / 3;
}

#challenge-unit-test-container h1{
    font-size: medium;
}

#challenge-unit-test-list{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
}

.challenge-unit-test-bar{
    background-color: #1A9E0E;
    padding: 0 5px;
    border-radius: 5px;
}

.challenge-unit-test-bar p{
    margin: 1px;
    font-family: Tiny5, fantasy;
    color: white;
    flex: 1;
}

#challenge-leaderboard-container {
    grid-area: 2 / 3 / 3 / 4;
}

#challenge-game-container{
    grid-area: 1 / 4 / 3 / 5;
}

/* - - - - - - - - - - - - - - - - - - - - - GAME PAGE - - - - - - - - - - - - - - - - - - - - - */

#game-main-content{
    height: 90%;
    grid-template: 1fr 2fr / 1fr 1fr 2fr;

    display: grid;
}

#game-label-container{
    grid-area: 1 / 1 / 2 / 2;
}

#game-leaderboard-container{
    grid-area: 2 / 1 / 3 / 2;
}

#game-game-container{
    grid-area: 1 / 2 / 3 / 3;
}

#game-items-container{
    grid-area: 1 / 3 / 3 / 4;
}
