/* - - - - - - - - - - - - - - - - - - - - - GENERAL - - - - - - - - - - - - - - - - - - - - - */
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /*box-sizing: border-box;*/
}

h1, h2{
    font-family: "Roboto", serif;
}

.container h1{
    text-align: center;
}

p{
    font-family: "Roboto", serif;
}

.navbar {
    display: flex;
    align-items: center; /* Vertically center items */

    width: 100%;
    height: 60px;
    background: #343A40;
    /* border: 1px solid green; */
}

#navbar-main-icon {
    height: 50px; /* Adjust size as needed */
    margin-left: 10px;
    margin-right: 30px; /* Space between logo and breadcrumb */
    /*margin: 5px 10px;*/
    max-width: 100%;
    /*height: 80%;*/
}

.breadcrumb {
    display: flex;
    align-items: center;
    font-family: "Roboto", serif;
    font-size: 17px;
    color: white;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
    margin-right: 5px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.breadcrumb a:hover {
    text-decoration: underline;
    color: #d9d9d9;
}

.breadcrumb a:last-child {
    color: white;
    pointer-events: none;
    font-weight: bold;
}

.main-content{
    height: 88%;
    margin: 15px;
    display: grid;
    gap: 15px;

}

.container{
    border-radius: 12px;
    background: #D9D9D9;
    min-height: 20px;
    padding: 10px;
    /*margin: 5px;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /*padding: 10px;*/

}

/* DEBUG NAVBAR COLOR (TODO: DELETE LATER) */

/* Smartphones */
@media (max-width: 480px) {
    /*DEBUG TEST*/
    .navbar{
        background: red;
    }
}

/* Tablets / large smartphones */
@media (min-width: 481px) {
    /*DEBUG TEST*/
    .navbar{
        background: orange;
    }
}

/* Laptops */
@media (min-width: 769px) {
    /*DEBUG TEST*/
    .navbar{
        background: yellow;
    }
}

/* Large desktops */
@media (min-width: 1280px) {
    /*DEBUG TEST*/
    .navbar{
        background: greenyellow;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - LOGIN PAGE - - - - - - - - - - - - - - - - - - - - - */

#login-page-content{
    display: flex;
    flex-direction: column;
    margin: 0 30%;
    /*background-color: pink;*/
}

.login-text-input {
    display: block;
    background: #D9D9D9;

    margin: 15px auto;
    padding-left: 15px;

    border-width: 0;

    font-family: "Roboto", serif;
    font-size: medium;

    width: 75%;
    height: 52px;

    border-radius: 12px;
}

#login-submit-button {
    width: 183px;
    height: 63px;
    display: block;

    flex-shrink: 0;
    border-radius: 12px;
    background: #1A9E0E;

    border-width: 0;
    margin: 3% auto;

    font-family: "Roboto", Sans-Serif, serif;
    font-size: medium;
    color: white;
}

#login-main-logo {
    margin: 1% auto 8% auto;
    width: 70%;
}

#login-main-pfp {
    margin: 0 auto;
}

/* Smartphones */
@media (max-width: 480px) {
    #login-page-content{
        margin: 0 5%;
    }
}

/* Tablets / large smartphones */
@media (min-width: 481px) {
    #login-page-content{
        margin: 0 15%;
    }
}

/* Laptops */
@media (min-width: 769px) {
    #login-page-content{
        margin: 0 25%;
    }
}

/* Large desktops */
@media (min-width: 1280px) {
    #login-page-content{
        margin: 0 30%;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - MAIN PAGE - - - - - - - - - - - - - - - - - - - - - */

#main-menu-main-content{
    grid-template: 1fr 3fr 3fr 3fr / 1fr 2fr;
}

.subject-container {
    display: grid;
    gap: 5px;
    grid-template: 1fr 2fr / 1fr 2fr;
    min-height: 155px;
    min-width: 400px;
    /*transition: background-color 0.3s, opacity 0.3s;*/
}

.main-menu-subject-code-container{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-subject-code{
    background-color: #A2A4A3;
    border-radius: 5px;

    /*flex-shrink: 0;*/

    min-width: 70%;
    max-height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-subject-code p{
    font-size: 140%;
    margin: 15px;
}

.main-menu-subject-name{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-subject-name h2{
    margin: 0;
}


.main-menu-subject-completion-container{
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    gap: 2px;
    grid-template: 1fr 1fr 1fr / 3fr 1fr;
}
.main-menu-subject-badge-container{
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-subject-badge{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-menu-so2-badge-img,
#main-menu-pp2-badge-img,
#main-menu-pp1-badge-img{
    flex-shrink: 0;
    max-width: 80px;
    max-height: 80px;
}

.main-menu-points-container{
    /*background-color: #FFFFFF;*/
    /*max-height: 40px;*/
}

#main-menu-so2-p1{
    grid-area: 1 / 2 / 2 / 3;
}

#main-menu-so2-p2{
    grid-area: 2 / 2 / 3 / 3;
}

#main-menu-so2-p3{
    grid-area: 3 / 2 / 4 / 3;
}

.main-menu-points-container p{
    font-size: 80%;
    margin: 0;
    padding: 0;
}

.main-menu-subject-buttons-container{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: end;
    align-items: end;

}

.subject-topics-button {
    background-color: #4579F9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    max-width: 200px;
    margin-right: 5px;
}

.subject-topics-button:hover {
    background-color: #0056b3;
}

.subject-info-button {

    /*position: absolute;*/
    /*bottom: 10px;*/
    /*right: 10px;*/
    background-color: #343A40;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.subject-container:has(.subject-info-button:hover) * {
    opacity: 0.2;
    transition: opacity 0.3s;
}

.subject-container h1 {
    font-size: 20px;
}

#main-menu-subject-label-container {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-menu-subject-so2-container{
    grid-area: 2 / 1 / 3 / 2;
}

#main-menu-subject-pp2-container{
    grid-area: 3 / 1 / 4 / 2;
}

#main-menu-subject-pp1-container{
    grid-area: 4 / 1 / 5 / 2;
}

#main-menu-profile-container{
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.page-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-decoration: none;
}

#main-menu-profile-currency-container{
    margin: 5px;
}

#main-menu-profile-achievements-container{
    background-color: rgba(111, 111, 111, 0.23);
    height: 90%;
    min-width: 40px;
    max-width: 350px;
}

#main-menu-profile-achievements-container h2{
    text-align: center;
}

#main-menu-profile-achievements-grid{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.main-menu-profile-grid-cell{
    display: flex;
    justify-content: center;
}

.main-menu-profile-achievement-slot{
    background: rgba(111, 111, 111, 0.23);
    width: 35px;
    height: 35px;
}


#main-menu-competition-container{
    grid-area: 3 / 2 / 5 / 3;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#main-menu-competition-logo{
    max-width: 375px;
    max-height: 375px;
}

/* Smartphones */
@media (max-width: 480px) {
    /* TODO (not necessary unless using small devices) */
}

/* Tablets / large smartphones */
@media (min-width: 481px) {


    #main-menu-main-content{
        grid-template: 4fr 1fr 3fr 3fr 3fr 5fr / 1fr;
    }
    #main-menu-subject-label-container {
        grid-area: 2 / 1 / 3 / 2;
    }

    #main-menu-subject-so2-container{
        grid-area: 3 / 1 / 4 / 2;
    }

    #main-menu-subject-pp2-container{
        grid-area: 4 / 1 / 5 / 2;
    }

    #main-menu-subject-pp1-container{
        grid-area: 5 / 1 / 6 / 2;
    }

    #main-menu-profile-container{
        grid-area: 1 / 1 / 2 / 2;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 300px;
    }

    #main-menu-profile-achievements-grid{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        gap: 5px;
    }
    #main-menu-competition-container{
        grid-area: 6 / 1 / 7 / 2;
        min-height: 300px;
    }
}

/* Laptops */
@media (min-width: 769px) {
    #main-menu-main-content{
        grid-template: 1fr 3fr 3fr 3fr 5fr / 1fr 1fr;
    }
    #main-menu-subject-label-container {
        grid-area: 1 / 1 / 2 / 2;
    }

    #main-menu-subject-so2-container{
        grid-area: 2 / 1 / 3 / 2;
    }

    #main-menu-subject-pp2-container{
        grid-area: 3 / 1 / 4 / 2;
    }

    #main-menu-subject-pp1-container{
        grid-area: 4 / 1 / 5 / 2;
    }

    #main-menu-profile-container{
        grid-area: 1 / 2 / 5 / 3;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #main-menu-profile-achievements-grid{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
        gap: 5px;
    }
    #main-menu-competition-container{
        grid-area: 5 / 1 / 6 / 3;
        min-height: 300px;
    }
}

/* Large desktops */
@media (min-width: 1280px) {
    #main-menu-main-content{
        grid-template: 1fr 3fr 3fr 3fr / 1fr 2fr;
    }
    #main-menu-subject-label-container {
        grid-area: 1 / 1 / 2 / 2;
    }

    #main-menu-subject-so2-container{
        grid-area: 2 / 1 / 3 / 2;
    }

    #main-menu-subject-pp2-container{
        grid-area: 3 / 1 / 4 / 2;
    }

    #main-menu-subject-pp1-container{
        grid-area: 4 / 1 / 5 / 2;
    }

    #main-menu-profile-container{
        grid-area: 1 / 2 / 3 / 3;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #main-menu-profile-achievements-grid{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
        gap: 5px;
    }
    #main-menu-competition-container{
        grid-area: 3 / 2 / 5 / 3;
    }
}


/* - - - - - - - - - - - - - - - - - - - - - STATS OVERALL PAGE - - - - - - - - - - - - - - - - - - - - - */
.stats-overall-content{
    grid-template: 1fr 1fr 3fr 2fr / 3fr 2fr 1fr;
}

.stats-overall-topics-container{
    grid-area: 1 / 1 / 5 / 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stats-overall-topics-container h1{
    text-align: center;
    font-size: 20px;
}

.topic{
    flex: 1;
    margin: 0 3%;
    /*border: 1px solid blue;*/
}

.progressbar{
    min-height: 5px;
    max-height: 30px;
    height: 40%;
    width: 100%;
    border-radius: 5px;
    background: #1A9E0E;
}

.topic p{
    font-size: small;
    margin: 0;
}

.stats-overall-subject-container{
    grid-area: 1 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats-overall-subject-container h1{
    text-align: center;
    font-size: 20px;
}

.stats-overall-stat-item{
    background-color: #c1c1c2;
    border-radius: 5px;
    max-height: 50px;
    display: flex;
    align-items: center;
}
.stats-overall-stat-item p{
    margin-left: 10px;
}

.stats-overall-subject-label-container{
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.stats-overall-completion-container{
    grid-area: 2 / 3 / 3 / 4;
}

.stats-header {
    font-size: 16px;
}

.stats-overall-achievements-container{
    grid-area: 3 / 3 / 4 / 4;

    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

.stats-achievement-list{
    display: flex;
    flex-direction: column;
    /*align-items: start;*/
    justify-content: space-evenly;
    /*min-height: 300px;*/
}

.stats-achievement-position{
    display: flex;
    justify-content: center;
}

.ach-desc-container p{
    margin: 2px 10px;
}

.ach-img{
    width: 50px;
    height: 50px;
}

.stats-overall-commit-container{
    grid-area: 4 / 2 / 5 / 4;
    min-height: 50px;
}

/* Smartphones */
@media (max-width: 480px) {
    /* TODO (not necessary unless using small devices) */
}

/* Tablets / large smartphones */
@media (min-width: 481px) {


    .stats-overall-content{ /*main*/
        grid-template: 1fr 5fr 7fr 3fr 2fr/ 1fr 1fr 1fr;
    }
    .stats-overall-topics-container{ /*statystyki tematow*/
        grid-area: 3 / 1 / 4 / 4;
        min-height: 500px;
    }
    .stats-overall-subject-container{ /*statystyki przedmiotu*/
        grid-area: 2 / 1 / 3 / 4;
        min-height: 400px;
    }
    .stats-overall-subject-label-container{ /*nazwa przedmiotu*/
        grid-area: 1 / 1 / 2 / 2;
    }
    .stats-overall-completion-container{ /*stan zaliczenia*/
        grid-area: 1 / 2 / 2 / 4;
        min-height: 60px;
    }
    .stats-overall-achievements-container{ /*osiagniecia*/
        grid-area: 4 / 1 / 5 / 4;
        flex-direction: column;
        min-height: 100px;
        min-width: 480px;
    }
    .stats-achievement-list{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-evenly;
    }

    .stats-achievement-position{
        display: flex;
        /*justify-content: center;*/
    }

    .ach-desc-container p{
        margin: 2px 10px;
    }
    .stats-overall-commit-container{ /*commity*/
        grid-area: 5 / 1 / 6 / 4;
    }
}

/* Laptops */
@media (min-width: 769px) {
    .stats-overall-content{ /*main*/
        grid-template: 1fr 5fr 7fr 2fr/ 1fr 1fr 1fr;
    }
    .stats-overall-topics-container{ /*statystyki tematow*/
        grid-area: 3 / 1 / 4 / 4;
        min-height: 500px;
    }
    .stats-overall-subject-container{ /*statystyki przedmiotu*/
        grid-area: 2 / 1 / 3 / 3;
        min-height: 400px;
    }
    .stats-overall-subject-label-container{ /*nazwa przedmiotu*/
        grid-area: 1 / 1 / 2 / 2;
    }
    .stats-overall-completion-container{ /*stan zaliczenia*/
        grid-area: 1 / 2 / 2 / 4;
        min-height: 60px;
    }
    .stats-overall-achievements-container{ /*osiagniecia*/
        grid-area: 2 / 3 / 3 / 4;
    }
    .stats-achievement-list{
        flex-direction: column;
    }
    .ach-desc-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ach-desc-container p{
        margin: 5px 10px;
    }

    .ach-img{
        width: 70px;
        height: 70px;
    }
    .stats-overall-commit-container{ /*commity*/
        grid-area: 4 / 1 / 5 / 4;
    }
}

/* Large desktops */
@media (min-width: 1280px) {
    .stats-overall-content{ /*main*/
        grid-template: 1fr 1fr 3fr 2fr / 3fr 2fr 1fr;
    }
    .stats-overall-topics-container{ /*statystyki tematow*/
        grid-area: 1 / 1 / 5 / 2;
    }
    .stats-overall-subject-container{ /*statystyki przedmiotow*/
        grid-area: 1 / 2 / 4 / 3;
    }
    .stats-overall-subject-label-container{ /*nazwa przedmiotu*/
        grid-area: 1 / 3 / 2 / 4;
    }
    .stats-overall-completion-container{ /*stan zaliczenia*/
        grid-area: 2 / 3 / 3 / 4;
    }
    .stats-overall-achievements-container{ /*osiagniecia*/
        grid-area: 3 / 3 / 4 / 4;
    }
    .stats-achievement-list{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .ach-desc-container p{
        margin: 2px 10px;
    }

    .ach-img{
        width: 50px;
        height: 50px;
    }
    .stats-overall-commit-container{ /*commity*/
        grid-area: 4 / 2 / 5 / 4;
    }
}


/* - - - - - - - - - - - - - - - - - - - - - PROFILE PAGE - - - - - - - - - - - - - - - - - - - - - */

#profile-content{
    grid-template: 35fr 33fr 21fr / 33fr 60fr 48fr 33fr;
}

.profile-header{
    font-size: 16px;
}

#profile-subjects-stats-container{
    grid-area: 1 / 1 / 2 / 2;
}

#profile-featured-achievements-container{
    grid-area: 2 / 1 / 3 / 2;
}

#profile-all-achievements-container{
    grid-area: 1 / 2 / 3 / 4;
}

#profile-streak-container{
    grid-area: 3 / 3 / 4 / 4;
}

#profile-commit-container{
    grid-area: 3 / 1 / 4 / 3;
}

#profile-showcase-container{
    grid-area: 1 / 4 / 1 / 5;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#profile-user-name, #profile-dante-coin, #profile-joker-points{
    text-align: center;
    margin: 5px 5px;
}

.profile-showcase-line{
    display: flex;
    justify-content: center;
    align-items: center;
}


#profile-skins-container{
    grid-area: 2 / 4 / 4 / 5;
    display: grid;
    grid-template: 1fr 9fr/ 1fr;
}

#profile-header-fd{
    grid-area: 1 / 1 / 2 / 4;
}

#profile-skins-box{
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}



/* - - - - - - - - - - - - - - - - - - - - - CHALLENGE PAGE - - - - - - - - - - - - - - - - - - - - - */

#challenge-main-content{
    grid-template: 3fr 1fr 4fr / 1fr 1fr 1fr 1fr;
}

#challenge-instruction-container{
    grid-area: 1 / 1 / 2 / 4;
}

#challenge-send-file-container{
    grid-area: 2 / 1 / 3 / 2;
}

#send-file-button {
    width: 200px;
    height: 50px;
    background-color: #4579F9;
    color: white;
    border: none;
    border-radius: 12px;
    font-family: Tiny5, fantasy;
    font-size: larger;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#send-file-button:hover {
    background-color: #0056b3;
}

#challenge-file-container {
    grid-area: 3 / 1 / 4 / 2;
    place-content: center;
}

#challenge-file-container p {
    font-size: 16px;
    text-align: center;
    color: #343A40;
    margin: 10px 0;
    font-family: Tiny5, fantasy;
}

#choose-file-button {
    width: 200px;
    height: 50px;
    background-color: #343A40;
    color: white;
    border: none;
    border-radius: 12px;
    font-family: Tiny5, fantasy;
    font-size: medium;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#choose-file-button:hover {
    background-color: #50575D;
}

#challenge-unit-test-container{
    grid-area: 2 / 2 / 4 / 3;
}

#challenge-unit-test-container h1{
    font-size: medium;
}

#challenge-unit-test-list{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-evenly;
}

.challenge-unit-test-bar{
    background-color: #1A9E0E;
    padding: 0 5px;
    border-radius: 5px;
}

.challenge-unit-test-bar p{
    margin: 1px;
    font-family: Tiny5, fantasy;
    color: white;
    flex: 1;
}

#challenge-leaderboard-container {
    grid-area: 2 / 3 / 4 / 4;]
}

#challenge-game-container{
    grid-area: 1 / 4 / 4 / 5;
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url('/static/assets/fb_bg_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#play-button {
    justify-self: center;
    width: 250px;
    height: 100px;
    background-image: url('/static/assets/play_button.png');
    background-size: cover;
    background-position: center;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 12px;
    font-family: Tiny5, fantasy;
    font-size: x-large;
    cursor: pointer;
}

#play-button:hover {
    opacity: 0.8;
}

#game-logo {
    justify-self: center;
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

/* - - - - - - - - - - - - - - - - - - - - - GAME PAGE - - - - - - - - - - - - - - - - - - - - - */

#game-main-content{
    height: 90%;
    grid-template: 1fr 2fr / 1fr 1fr 2fr;

    display: grid;
}

#game-label-container{
    grid-area: 1 / 1 / 2 / 2;
}

#game-leaderboard-container{
    grid-area: 2 / 1 / 3 / 2;
}

#game-game-container{
    grid-area: 1 / 2 / 3 / 3;
}

#game-items-container{
    grid-area: 1 / 3 / 3 / 4;
}
