/* GENERAL */
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /*box-sizing: border-box;*/
}

h1{
    font-family: "Roboto", serif;
}
.container h1{
    text-align: center;
}

p{
    font-family: "Roboto", serif;
}

.menuBar {
    width: 100%;
    height: 8%;
    background: #343A40;
    /* border: 1px solid green; */
}

#menuBarIcon {
    margin: 0.5% 0.5% 0.5% 1%;
    max-width: 100%;
    height: 80%;
}

.container{
    border-radius: 12px;
    background: #D9D9D9;
    min-height: 20px;
    margin: 5px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /*padding: 10px;*/

}

/* LOGIN PAGE */
.loginForm {
    margin: 0 30%;
    /*padding-top: 5%;*/
    /*border: 1px solid red;*/
}

.loginInput {
    display: block;
    background: #D9D9D9;

    margin: 15px auto;
    padding-left: 15px;

    border-width: 0;

    font-family: "Roboto", serif;
    font-size: medium;

    width: 75%;
    height: 52px;

    border-radius: 12px;
}

#loginButton {
    width: 183px;
    height: 63px;
    display: block;

    flex-shrink: 0;
    border-radius: 12px;
    background: #1A9E0E;

    border-width: 0;
    margin: 3% auto;

    font-family: "Roboto", Sans-Serif, serif;
    font-size: medium;
    color: white;
}

#loginLogo {
    max-width: 100%;
    max-height: 240px;
    margin: 1% auto 8% auto;

    width: 70%;
    display: block;
}

#loginProfilePicture {
    display: block;
    margin: 0 auto 3% auto;
}

/* MAIN PAGE */

#mainMenuContent{
    height: 92%;
    display: flex;
    flex-direction: row;
    /*border: 1px solid green;*/
}

#sideBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
}

.subjectContainer {
    flex: 5;
    width: 97%;
}

.subjectTitle {
    flex: 1;
    width: 97%;
}

.subjectTitle h1{
    font-size: 1em;
}

#mainArea {
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    /*border: 1px solid blue;*/
}

.profileContainer {
    flex: 8;
}

.competitionContainer {
    flex: 13;
}

/* STATS PAGES OVERALL */
#StatsContent{
    display: grid;
    height: 92%;
}

#topicStatsContainer{
    grid-column: 1 / span 3;
    grid-row: 1 / span 7;

    display: flex;
    flex-direction: column;
}

#topicStatsContainer h1{
    text-align: center;
}

.topic{
    flex: 1;
    margin: 0 3%;
    /*border: 1px solid blue;*/
}

.topic .progressbar{
    min-height: 5px;
    height: 40%;
    width: 75%;
    border-radius: 12px;
    background: #1A9E0E;
}

.topic p{
    font-size: small;
    margin: 0;
}

#subjectStatsContainer{
    grid-column: 4 / span 2;
    grid-row: 1 / span 5;
}

#subjectLabelContainer{
    grid-column: 6;
    grid-row: 1;
}

#completionContainer{
    grid-column: 6;
    grid-row: 2;
}

#acheievementsContainer{
    grid-column: 6;
    grid-row: 3 / span 3;
}

#commitsContainer{
    grid-column: 4 / span 3;
    grid-row: 6 / span 2;
}
