<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_style.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/fire_1.png') }}">

    <title>Admin</title>
</head>

<body>
<div class="navbar">
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='assets/dante_main_logo.png') }}" id="navbar-main-icon" alt="Site logo">
        <div class="breadcrumb">
            {% for item in breadcrumb %}
                <a href="{{ item.url }}">{{ item.name }}</a>
                {% if not loop.last %} &gt;&nbsp; {% endif %}
            {% endfor %}
        </div>
    </a>
</div>

<div class="main-content">
    <div class="container">
        <h1>Dodaj polecenie do wyzwania</h1>
        <form action="/admin/add_challenge" method="POST">
            <textarea id="challenge-description" name="challenge-description" rows="7" required></textarea>
            <button type="submit">Dodaj polecenie</button>
        </form>
    </div>
    <div class="bottom-containers">
   <div class="container">
        <img src="{{ url_for('static', filename='assets/games_logo.png') }}" alt="Games Logo" class="logo-image">
    </div>
    <div class="container">
        <h1>Polecenia dostępne w bazie</h1>
        <div class="commands-list">
        <!-- Przykładowe polecenia -->
        <p>Polecenie 1</p>
        <p>Polecenie 2</p>
        <p>Polecenie 3</p>
        <p>Polecenie 4</p>
        <p>Polecenie 5</p>
    </div>
    </div>
</div>

</div>

</body>

</html>