<!DOCTYPE html>
<html lang="pl">

<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/fire_1.png') }}">

    <title>Wyzwanie</title>
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='assets/dante_main_logo.png') }}" id="navbar-main-icon" alt="Site logo">
        </a>
    </div>

    <div class="main-content" id="challenge-main-content">

        <div class="container" id="challenge-instruction-container"></div>

        <div class="container" id="challenge-file-container"></div>

        <div class="container" id="challenge-unit-test-container"></div>

        <div class="container" id="challenge-leaderboard-container"></div>

        <div class="container" id="challenge-game-container"></div>

    </div>



</body>

</html>
