<!DOCTYPE html>
<html lang="pl">

<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/challenge_style.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/fire_1.png') }}">

    <title>Wyzwanie</title>

    <script src="{{ url_for('static', filename='js/challenge.js') }}"></script>
</head>

<body>

{# NAVBAR #}
    <div class="navbar">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='assets/dante_main_logo.png') }}" id="navbar-main-icon" alt="Site logo">
            <div class="breadcrumb">
                {% for item in breadcrumb %}
                    <a href="{{ item.url }}">{{ item.name }}</a>
                    {% if not loop.last %} &gt;&nbsp; {% endif %}
                {% endfor %}
            </div>
        </a>
    </div>

    <div class="main-content" id="challenge-main-content">

{# POLECENIE #}
        <div class="container" id="challenge-instruction-container">
            <h1 class="challenge-header">Polecenie Wyzwania</h1>
            <p>{{ challenge.description }}</p>
        </div>

{# WYBÓR PLIKÓW #}
        <div class="container" id="challenge-file-container">

            <div id="drag-drop-area" style="border: 2px dashed #ccc; padding: 20px; text-align: center;">
                <p>Przeciągnij i upuść pliki tutaj lub</p>
            </div>
            <!--<button id="choose-file-button">Wybierz je z dysku</button>-->
            <input type="file" id="file-input" style="display: none;" multiple>
            <ul id="file-list">
                <!-- Uploaded files will be dynamically added here -->
            </ul>

        </div>

{# SUBMIT #}
        <div class="container" id="challenge-send-file-container">
            <form method="POST" action="{{ url_for('submit_tests') }}">
                <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
                <button type="submit" id="send-file-button">Prześlij</button>
            </form>
        </div>

{# TESTY JEDNOSTKOWE #}
        <div class="container" id="challenge-unit-test-container">

            <h1 class="challenge-header">Testy jednostkowe</h1>

            <div id="challenge-unit-test-list">
                {% for test, result in test_results.items() %}
                    <div class="challenge-unit-test-bar {% if result == 0 %}test-failed{% else %}test-passed{% endif %}">
                        <p>{{ test.replace('_', ' ') }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>

{# LEADERBOARD #}
        <div class="container" id="challenge-leaderboard-container">

            <h1 class="challenge-header">Bierze udział: {{ participants_count }}</h1>
            <h1 class="challenge-header">Ukończyło: {{ completed_count }}</h1>

            <div id="podium-container">
                {% if leaderboard|length >= 2 %}
                <div class="podium" id="second">
                    <div class="podium-user-icon">
                        <div class="podium-user-icon-img">
                            <img src="{{ url_for('static', filename='assets/profile_photo_white.svg') }}" alt="profile picture">
                        </div>
                        <div class="podium-user-icon-name"><p class="podium-label">2. {{ leaderboard[1].first_name }} {{ leaderboard[1].last_name }}</p></div>
                    </div>

                    <div class="podium-platform">
                        <div class="podium-platform-icon">
                            <div class="podium-platform-icon-place"><p class="podium-label" id="player-ranking-num">2.</p></div>
                            <div class="podium-platform-icon-img">
                                <img src="{{ url_for('static', filename='assets/game_assets/cup_silver.png') }}" alt="2nd place cup">
                            </div>
                        </div>
                    </div>

                    <div class="podium-progress-bar">
                        <p class="progress-bar-label">{{ leaderboard[1].passed_tests }}/10</p>
                        <div class="podium-progress-bar-done"></div>
                        <div class="podium-progress-bar-base"></div>
                    </div>

                </div>
                {% endif %}
                {% if leaderboard|length >= 1 %}
                <div class="podium" id="first">
                    <div class="podium-user-icon">
                        <div class="podium-user-icon-img">
                            <img src="{{ url_for('static', filename='assets/profile_photo_white.svg') }}" alt="profile picture">
                        </div>
                        <div class="podium-user-icon-name"><p class="podium-label">1. {{ leaderboard[0].first_name }} {{ leaderboard[0].last_name }}</p></div>
                    </div>

                    <div class="podium-platform">
                        <div class="podium-platform-icon">
                            <div class="podium-platform-icon-place"><p class="podium-label" id="player-ranking-num">1.</p></div>
                            <div class="podium-platform-icon-img">
                                <img src="{{ url_for('static', filename='assets/game_assets/cup_golden.png') }}" alt="winner cup">
                            </div>
                        </div>
                    </div>

                    <div class="podium-progress-bar">
                        <p class="progress-bar-label">{{ leaderboard[0].passed_tests }}/10</p>
                        <div class="podium-progress-bar-done"></div>
                        <div class="podium-progress-bar-base"></div>
                    </div>

                </div>
                {% endif %}
                {% if leaderboard|length >= 3 %}
                <div class="podium" id="third">
                    <div class="podium-user-icon">
                        <div class="podium-user-icon-img">
                            <img src="{{ url_for('static', filename='assets/profile_photo_white.svg') }}" alt="profile picture">
                        </div>
                        <div class="podium-user-icon-name"><p class="podium-label">3. {{ leaderboard[2].first_name }} {{ leaderboard[2].last_name }}</p></div>
                    </div>

                    <div class="podium-platform">
                        <div class="podium-platform-icon">
                            <div class="podium-platform-icon-place"><p class="podium-label" id="player-ranking-num">3.</p></div>
                            <div class="podium-platform-icon-img">
                                <img src="{{ url_for('static', filename='assets/game_assets/cup_bronze.png') }}" alt="3rd place cup">
                            </div>
                        </div>
                    </div>

                    <div class="podium-progress-bar">
                        <p class="progress-bar-label">{{ leaderboard[2].passed_tests }}/10</p>
                        <div class="podium-progress-bar-done"></div>
                        <div class="podium-progress-bar-base"></div>
                    </div>

                </div>
                {% endif %}

            </div>
        </div>

{# FLAPPY DANTE #}
        <div class="container" id="challenge-game-container">
            <img src="{{ url_for('static', filename='assets/game_assets/fb_logo.png') }}" id="game-logo" alt="Game logo">
            <button id="play-button">ZAGRAJ</button>
        </div>

    </div>


    <script src="{{ url_for('static', filename='js/challenge.js') }}"></script>
</body>

</html>
