<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <link rel="icon" type="image/x-icon" href="assets/fire_1.png">

    <title>Login</title>
</head>

<body>
    <div class="menuBar">
        <img src="assets/dante_main_logo.png" id="menuBarIcon">
    </div>

    <div class="loginForm">

        <img src="assets/dante_main_logo.png" id="loginLogo">
        <img src="assets/profile_photo.svg" id="loginProfilePicture">

        <form>
            <input type="text" placeholder="Login" required class="loginInput">
            <input type="password" placeholder="Hasło" required class="loginInput">
            <button type="submit" id="loginButton">Zaloguj</button>
        </form>

    </div>

</body>

</html>