<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/fire_1.png') }}">

    <title>PP1 stats</title>
</head>

<body>
    <div class="menuBar">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='assets/dante_main_logo.png') }}" id="menuBarIcon" alt="Site logo">
        </a>
    </div>

    <div id="StatsContent">

        <div class="container" id="topicStatsContainer">
            <h1>Statystyki tematów</h1>

            <div class="topic">
                <p>1. Wprowadzanie i wyświetlanie danych</p>
                <div class="progressbar"></div>
            </div>
            <div class="topic">
                <p>2. Instrukcje warunkowe, wyboru switch .. case</p>
                <div class="progressbar"></div>
            </div>
            <div class="topic">
                <p>3. Pętle, instrukcje iteracyjne</p>
                <div class="progressbar"></div>
            </div>
            <div class="topic">
                <p>4. Tablice jednowymiarowe</p>
                <div class="progressbar"></div>
            </div>
            <div class="topic">
                <p>5. Tablice jednowymiarowe - teksty</p>
                <div class="progressbar"></div>
            </div>
            <div class="topic">
                <p>6. Tablice wielowymiarowe</p>
                <div class="progressbar"></div>
            </div>
            <div class="topic">
                <p>7. Funkcje I, II</p>
                <div class="progressbar"></div>
            </div>
            <div class="topic">
                <p>8. Rekurencja</p>
                <div class="progressbar"></div>
            </div>
            <div class="topic">
                <p>9. Sortowanie</p>
                <div class="progressbar"></div>
            </div>
            <div class="topic">
                <p>10. Wskażniki i tablice</p>
                <div class="progressbar"></div>
            </div>
            <div class="topic">
                <p>11. Teksty i napisy</p>
                <div class="progressbar"></div>
            </div>
            <div class="topic">
                <p>12. Zadania ogólnorozwojowe</p>
                <div class="progressbar"></div>
            </div>

        </div>

        <div class="container" id="subjectStatsContainer">
            <h1>Statystyka przedmiotu</h1>
        </div>

        <div class="container" id="subjectLabelContainer">
            <h1>Podstawy Programowania 1</h1>
        </div>

        <div class="container" id="completionContainer">
            <h1>Stan zaliczenia</h1>
        </div>

        <div class="container" id="achievementsContainer">
            <h1>Osiągnięcia do zdobycia</h1>
        </div>

        <div class="container" id="commitsContainer"></div>

    </div>


</body>

</html>
