<!DOCTYPE html>
<html lang="pl">

<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/fire_1.png') }}">

    <title>Profil</title>
</head>

<body>

{# PASEK NAWIGACYJNY #}
    <div class="navbar">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='assets/dante_main_logo.png') }}" id="navbar-main-icon" alt="Site logo">
             <div class="breadcrumb">
                {% for item in breadcrumb %}
                    <a href="{{ item.url }}">{{ item.name }}</a>
                    {% if not loop.last %} &gt;&nbsp; {% endif %}
                {% endfor %}
            </div>
        </a>
    </div>

{# GŁÓWNA ZAWARTOŚĆ #}
    <div class="main-content" id="profile-content">
{# STATYSTYKI PRZEDMIOTÓW #}
        <div class="container" id="profile-subjects-stats-container">
            <h1 class="profile-header">Statystyki przedmiotów</h1>

            <div id="profile-subject-list">

                <div class="profile-subject-list-position">
                    <div class="profile-subject-code"><p>SO2<br>kod</p></div>
                    <div class="profile-subject-content">
                        <img src="{{ url_for('static', filename='assets/medal_empty.png') }}" alt="empty badge" class="subject-badge" id="main-menu-so2-badge-img">
                        <a href="{{ url_for('so2_stats') }}"><button class="subject-stats-button" id="so2-topics-button">Statystyki</button></a>
                    </div>
                </div>

                <div class="profile-subject-list-position">
                    <div class="profile-subject-code"><p>PP2<br>kod</p></div>
                    <div class="profile-subject-content">
                        <img src="{{ url_for('static', filename='assets/medal_empty.png') }}" alt="empty badge" class="subject-badge" id="main-menu-pp2-badge-img">
                        <a href="{{ url_for('pp2_stats') }}"><button class="subject-stats-button" id="pp2-topics-button">Statystyki</button></a>
                    </div>
                </div>

                <div class="profile-subject-list-position">
                    <div class="profile-subject-code"><p>PP1<br>kod</p></div>
                    <div class="profile-subject-content">
                        <img src="{{ url_for('static', filename='assets/medal_empty.png') }}" alt="empty badge" class="subject-badge" id="main-menu-pp1-badge-img">
                        <a href="{{ url_for('pp1_stats') }}"><button class="subject-stats-button" id="pp1-topics-button">Statystyki</button></a>
                    </div>
                </div>

            </div>

        </div>
{# WYRÓŻNIONE OSIĄGNIĘCIA (GABLOTA) #}
        <div class="container" id="profile-featured-achievements-container">
            <h1 class="profile-header">Wyróżnione osiągnięcia</h1>
            <div id="profile-featured-achievements-list">
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>
                <div class="profile-featured-slot-frame"><div class="profile-featured-slot"></div></div>

            </div>

        </div>
{# WSZYSTKIE OSIĄGNIĘCIA #}
        <div class="container" id="profile-all-achievements-container">
            <h1 class="profile-header">Wszystkie osiągnięcia</h1>
            <div id="profile-all-achievements-list">

                <div class="achievement-full" id="ach1">
                    <img src="{{ url_for('static', filename='assets/achievement_placeholder.png') }}" class="all-achievement-icon" id="achievement_1" alt="achievement icon">
                    <div class="achievement-progress-bar">
                        <div class="progress-bar-done"></div>
                        <div class="progress-bar-all"></div>
                    </div>
                    <div class="achievement-progress-stat"><p>1/2</p></div>
                </div>
                <div class="achievement-full" id="ach2">
                    <img src="{{ url_for('static', filename='assets/achievement_placeholder.png') }}" class="all-achievement-icon" id="achievement_1" alt="achievement icon">
                    <div class="achievement-progress-bar">
                        <div class="progress-bar-done"></div>
                        <div class="progress-bar-all"></div>
                    </div>
                    <div class="achievement-progress-stat"><p>1/2</p></div>
                </div>
                <div class="achievement-full" id="ach3">
                    <img src="{{ url_for('static', filename='assets/achievement_placeholder.png') }}" class="all-achievement-icon" id="achievement_1" alt="achievement icon">
                    <div class="achievement-progress-bar">
                        <div class="progress-bar-done"></div>
                        <div class="progress-bar-all"></div>
                    </div>
                    <div class="achievement-progress-stat"><p>1/2</p></div>
                </div>
                <div class="achievement-full" id="ach4">
                    <img src="{{ url_for('static', filename='assets/achievement_placeholder.png') }}" class="all-achievement-icon" id="achievement_1" alt="achievement icon">
                    <div class="achievement-progress-bar">
                        <div class="progress-bar-done"></div>
                        <div class="progress-bar-all"></div>
                    </div>
                    <div class="achievement-progress-stat"><p>1/2</p></div>
                </div>
                <div class="achievement-full" id="ach5">
                    <img src="{{ url_for('static', filename='assets/achievement_placeholder.png') }}" class="all-achievement-icon" id="achievement_1" alt="achievement icon">
                    <div class="achievement-progress-bar">
                        <div class="progress-bar-done"></div>
                        <div class="progress-bar-all"></div>
                    </div>
                    <div class="achievement-progress-stat"><p>1/2</p></div>
                </div>
                <div class="achievement-full" id="ach6">
                    <img src="{{ url_for('static', filename='assets/achievement_placeholder.png') }}" class="all-achievement-icon" id="achievement_1" alt="achievement icon">
                    <div class="achievement-progress-bar">
                        <div class="progress-bar-done"></div>
                        <div class="progress-bar-all"></div>
                    </div>
                    <div class="achievement-progress-stat"><p>1/2</p></div>
                </div>
                <div class="achievement-full" id="ach7">
                    <img src="{{ url_for('static', filename='assets/achievement_placeholder.png') }}" class="all-achievement-icon" id="achievement_1" alt="achievement icon">
                    <div class="achievement-progress-bar">
                        <div class="progress-bar-done"></div>
                        <div class="progress-bar-all"></div>
                    </div>
                    <div class="achievement-progress-stat"><p>1/2</p></div>
                </div>

            </div>
        </div>
{# SERIA #}
        <div class="container" id="profile-streak-container">
            <div id="streak-top-part">
                <h1>12</h1>
                <img src="{{ url_for('static', filename='assets/fire_streak.png') }}" id="streak-fire-img" alt="streak fire icon">
            </div>
            <div id="streak-bottom-part">
                <p>Masz 12-dniową serię!</p>
            </div>
        </div>

{# COMMITY #}
        <div class="container" id="profile-commit-container">
            <p>commit graph (TODO)</p>
        </div>

{# WIZYTÓWKA PROFILU #}
        <div class="container" id="profile-showcase-container">
            <img src="{{ url_for('static', filename='assets/profile_photo_white.svg') }}" width="80" height="80" id="profile-pfp" alt="Profile photo icon">
            <div class="profile-showcase-line"><p id="profile-user-name">Jan Kowalski</p></div>
            <div class="profile-showcase-line"><img src="{{ url_for('static', filename='assets/dante_coin.png') }}" width="30" height="30" id="profile-dante-coin" alt="dante coin icon"><p id="profile-dante-coin">xx</p></div>
            <div class="profile-showcase-line"><img src="{{ url_for('static', filename='assets/fire_1.png') }}"  width="30" height="40" id="profile-joker-points" alt="joker point icon"><p id="profile-joker-points">xx</p></div>

        </div>

{# GABLOTA SKINÓW #}
        <div class="container" id="profile-skins-container">
            <h1 class="profile-header" id="profile-header-fd">Flappy Dante</h1>
            <div id="profile-skins-box">
                <img src="{{ url_for('static', filename='assets/skin_locked.png') }}"  width="70" height="50" alt="skin">
                <img src="{{ url_for('static', filename='assets/skin_locked.png') }}"  width="70" height="50" alt="skin">
                <img src="{{ url_for('static', filename='assets/skin_locked.png') }}"  width="70" height="50" alt="skin">
                <img src="{{ url_for('static', filename='assets/skin_locked.png') }}"  width="70" height="50" alt="skin">
                <img src="{{ url_for('static', filename='assets/skin_locked.png') }}"  width="70" height="50" alt="skin">
                <img src="{{ url_for('static', filename='assets/skin_locked.png') }}"  width="70" height="50" alt="skin">
                <img src="{{ url_for('static', filename='assets/skin_locked.png') }}"  width="70" height="50" alt="skin">
                <img src="{{ url_for('static', filename='assets/skin_locked.png') }}"  width="70" height="50" alt="skin">
                <img src="{{ url_for('static', filename='assets/skin_locked.png') }}"  width="70" height="50" alt="skin">
            </div>


        </div>

    </div>

</body>

</html>
