<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_style.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/fire_1.png') }}">

    {# bootstrap for pencil icon #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">

    <title>Profil</title>
</head>

<body>

{# PASEK NAWIGACYJNY #}
<div class="navbar">
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='assets/dante_main_logo.png') }}" id="navbar-main-icon" alt="Site logo">
        <div class="breadcrumb">
            {% for item in breadcrumb %}
                <a href="{{ item.url }}">{{ item.name }}</a>
                {% if not loop.last %} &gt;&nbsp; {% endif %}
            {% endfor %}
        </div>
    </a>
</div>

{# GŁÓWNA ZAWARTOŚĆ #}

<div class="main-content" id="profile-content">
    {# STATYSTYKI PRZEDMIOTÓW #}
    <div class="container" id="profile-subjects-stats-container">
        <h1 class="profile-header">Statystyki przedmiotów</h1>

        <div id="profile-subject-list">

            <div class="profile-subject-list-position">
                <div class="profile-subject-code">
                    <p>PP1<br>23D</p>
                </div>
                <div class="profile-subject-content">
                    {% if subject_achievements['pp1'] %}
                         <img src="{{ url_for('static', filename='assets/stats_assets/medal_pp1_gold.png') }}"
                        alt="Achievement Image" class="subject-badge">
                    {% endif %}
                    <a href="{{ url_for('pp1_stats') }}">
                        <button class="subject-stats-button" id="pp1-topics-button">Statystyki</button>
                    </a>
                </div>
            </div>

            <div class="profile-subject-list-position">
                <div class="profile-subject-code">
                    <p>PP2<br>24D</p>
                </div>
                <div class="profile-subject-content">
                    {% if subject_achievements['pp2'] %}
                        <img src="{{ url_for('static', filename='assets/stats_assets/medal_pp2_bronze.png') }}"
                        alt="Achievement Image" class="subject-badge">
                    {% endif %}
                    <a href="{{ url_for('pp2_stats') }}">
                        <button class="subject-stats-button" id="pp2-topics-button">Statystyki</button>
                    </a>
                </div>
            </div>

            <div class="profile-subject-list-position">
                <div class="profile-subject-code">
                    <p>SO2<br>24D</p>
                </div>
                <div class="profile-subject-content">
                    {% if subject_achievements['so2'] %}
                         <img src="{{ url_for('static', filename='assets/stats_assets/medal_empty.png') }}"
                        alt="Achievement Image" class="subject-badge">
                    {% endif %}
                    <a href="{{ url_for('so2_stats') }}">
                        <button class="subject-stats-button" id="so2-topics-button">Statystyki</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
    {# WYRÓŻNIONE OSIĄGNIĘCIA (GABLOTA) #}
    <div class="container" id="profile-featured-achievements-container">
        <h1 class="profile-header">Wyróżnione osiągnięcia</h1>
        <div id="profile-featured-achievements-list">
            <div class="profile-featured-slot-frame">
                <div class="profile-featured-slot">
                     <img src="{{ url_for('static', filename='assets/stats_assets/ach_win_igrzyska.png') }}" alt="Puchar">
                </div>
            </div>
            <div class="profile-featured-slot-frame">
                <div class="profile-featured-slot">
                    <img src="{{ url_for('static', filename='assets/stats_assets/ach_pp2_bronze.png') }}" alt="Medal pp2">
                </div>
            </div>
            <div class="profile-featured-slot-frame">
                <div class="profile-featured-slot">
                    <img src="{{ url_for('static', filename='assets/stats_assets/ach_pp1_gold.png') }}" alt="Medal pp1">
                </div>
            </div>
            <div class="profile-featured-slot-frame">
                <div class="profile-featured-slot"></div>
            </div>
            <div class="profile-featured-slot-frame">
                <div class="profile-featured-slot"></div>
            </div>
            <div class="profile-featured-slot-frame">
                <div class="profile-featured-slot"></div>
            </div>
            <div class="profile-featured-slot-frame">
                <div class="profile-featured-slot"></div>
            </div>
            <div class="profile-featured-slot-frame">
                <div class="profile-featured-slot"></div>
            </div>
        </div>
        <div id="profile-featured-achievements-footer">
            <button class="edit-btn" id="profile-featured-achievements-edit-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil-fill"
                     viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"></path>
                </svg>
            </button>
        </div>


    </div>

    {# WSZYSTKIE OSIĄGNIĘCIA #}
    <div class="container" id="profile-all-achievements-container">
        <h1 class="profile-header">Wszystkie osiągnięcia</h1>
        <div id="profile-all-achievements-list">

            {% for achievement in achievements %}
            <div class="achievement-full" id="ach{{ loop.index }}">
                <img src="{{ url_for('static', filename=achievement.image_path) }}"
                     class="all-achievement-icon" id="achievement_{{ loop.index }}" alt="achievement icon">
                <div class="achievement-progress-bar">
                    <div class="progress-bar-done" style="width: calc(100px * {{ achievement.unlock_status / 2 }})"></div>
                    <div class="progress-bar-all"></div>
                </div>
                <div class="achievement-progress-stat"><p>{{ achievement.progress_percentage }}</p></div>
            </div>
            {% endfor %}

        </div>
    </div>
    {# SERIA #}
    <div class="container" id="profile-streak-container">
        <div id="streak-top-part">
            <h1>12</h1>
            <img src="{{ url_for('static', filename='assets/fire_streak.png') }}" id="streak-fire-img"
                 alt="streak fire icon">
        </div>
        <div id="streak-bottom-part">
            <p>Masz 12-dniową serię!</p>
        </div>
    </div>

    {# COMMITY #}
    <div class="container" id="profile-commit-container">
         <div class="commit-graph">
             {% for color in colors %}
                 <div class="commit-square" style="background-color: {{ color }};"></div>
             {% endfor %}
        </div>
    </div>

    {# WIZYTÓWKA PROFILU #}
    <div class="container" id="profile-showcase-container">
        <img src="{{ url_for('static', filename='assets/profile_photo_white.svg') }}" width="80" height="80"
             id="profile-pfp" alt="Profile photo icon">
        <div class="profile-showcase-line"><p id="profile-user-name">{{ first_name }} {{ last_name }}</p></div>
        <div id="profile-currency">
            <div class="profile-showcase-line"><img src="{{ url_for('static', filename='assets/dante_coin.png') }}"
                                                    width="30" height="30" id="profile-dante-coin"
                                                    alt="dante coin icon">
                <p id="profile-dante-coin">300</p></div>
            <div class="profile-showcase-line"><img src="{{ url_for('static', filename='assets/fire_1.png') }}"
                                                    width="30" height="40" id="profile-joker-points"
                                                    alt="joker point icon">
                <p id="profile-joker-points">12</p></div>

        </div>

    </div>

    {# GABLOTA SKINÓW #}
    <div class="container" id="profile-skins-container">
        <h1 class="profile-header" id="profile-header-fd">Flappy Dante</h1>
        <div id="profile-skins-box">
            <img src="{{ url_for('static', filename='assets/game_assets/fb_skin_default.png') }}" width="70" height="50" alt="skin">
            <img src="{{ url_for('static', filename='assets/game_assets/fb_skin_flametail.png') }}" width="70" height="50" alt="skin">
            <img src="{{ url_for('static', filename='assets/game_assets/fb_skin_dantebird.png') }}" width="70" height="50" alt="skin">
            <img src="{{ url_for('static', filename='assets/skin_locked.png') }}" width="70" height="50" alt="skin">
            <img src="{{ url_for('static', filename='assets/skin_locked.png') }}" width="70" height="50" alt="skin">
            <img src="{{ url_for('static', filename='assets/skin_locked.png') }}" width="70" height="50" alt="skin">
            <img src="{{ url_for('static', filename='assets/skin_locked.png') }}" width="70" height="50" alt="skin">
            <img src="{{ url_for('static', filename='assets/skin_locked.png') }}" width="70" height="50" alt="skin">
            <img src="{{ url_for('static', filename='assets/skin_locked.png') }}" width="70" height="50" alt="skin">
        </div>


    </div>

</div>

</body>

</html>
