<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_style.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/fire_1.png') }}">

{#  jQuery link  #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Rejestracja</title>
</head>

<body>

    <div class="navbar">
        <img src="{{ url_for('static', filename='assets/dante_main_logo.png') }}" id="navbar-main-icon" alt="Site logo">
    </div>

    <div class="main-content" id="register-page-content">

        <div id="logo-login-container">
            <img src="{{ url_for('static', filename='assets/dante_main_logo.png') }}" id="login-main-logo" alt="Site logo">
        </div>

        <div id="login-form-container">

            <div id="register-pfp-container">
                <img src="{{ url_for('static', filename='assets/profile_photo.svg') }}" id="login-main-pfp" alt="Profile photo icon">
            </div>


            <!-- Zakładki -->
            <div class="tabs">
                <div class="tab active" onclick="switchTab('form-pracownik', this)">Pracownik</div>
                <div class="tab" onclick="switchTab('form-student', this)">Student</div>
            </div>

            <!-- Formularze -->
            <div class="form-container">
                <form id="form-pracownik" class="form active" method="post">
                    <input type="hidden" name="role" value="Prowadzący"> <!-- Hidden field for role -->
                    <input type="text" name="imie" placeholder="Imię" required class="login-text-input">
                    <input type="text" name="nazwisko" placeholder="Nazwisko" required class="login-text-input">
                    <select name="stopien-naukowy" required class="login-text-input">
                        <option value="" disabled selected>Wybierz stopień naukowy</option>
                        <option value="mgr">mgr</option>
                        <option value="mgr inż.">mgr inż.</option>
                        <option value="inż.">inż.</option>
                        <option value="dr">dr</option>
                        <option value="dr inż.">dr inż.</option>
                        <option value="dr hab. inż.">dr hab. inż.</option>
                        <option value="dr hab.">dr hab.</option>
                        <option value="prof. dr hab. inż.">prof. dr hab. inż.</option>
                        <option value="prof. dr hab.">prof. dr hab.</option>
                    </select>
                    <input type="email" name="email" placeholder="Email" required class="login-text-input">
                    <input type="password" name="password" placeholder="Hasło" required class="login-text-input">
                    <input type="password" name="password" placeholder="Powtórz hasło" required class="login-text-input">
                    <button type="submit" id="login-submit-button">Zarejestruj</button>
                </form>

                <form id="form-student" class="form" method="post">
                    <input type="hidden" name="role" value="Student"> <!-- Hidden field for role -->
                    <input type="text" name="imie" placeholder="Imię" required class="login-text-input">
                    <input type="text" name="nazwisko" placeholder="Nazwisko" required class="login-text-input">
                    <input type="text" name="indeks" placeholder="Numer indeksu" required class="login-text-input">
                    <input type="email" name="email" placeholder="Email" required class="login-text-input">
                    <input type="password" name="password" placeholder="Hasło" required class="login-text-input">
                    <input type="password" name="password" placeholder="Powtórz hasło" required class="login-text-input">
                    <button type="submit" id="login-submit-button">Zarejestruj</button>
                </form>
            </div>

        </div>


    </div>

    <script src="{{ url_for('static', filename='js/register.js') }}"></script>

</body>
</html>
