<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/fire_1.png') }}">

    <title>SO2 stats</title>
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='assets/dante_main_logo.png') }}" id="navbar-main-icon" alt="Site logo">
        </a>
    </div>

    <div class="main-content stats-overall-content" id="stats-so2-content">

        <div class="container stats-overall-topics-container" id="stats-so2-topics-container">
            <h1>Statystyki tematów</h1>

        </div>

        <div class="container stats-overall-subject-container" id="stats-so2-subject-container">
            <h1>Statystyka przedmiotu</h1>
        </div>

        <div class="container stats-overall-subject-label-container" id="stats-so2-subject-label-container">
            <h1>Podstawy Programowania 1</h1>
        </div>

        <div class="container stats-overall-completion-container" id="stats-so2-completion-container">
            <h1>Stan zaliczenia</h1>
        </div>

        <div class="container stats-overall-achievements-container" id="stats-so2-achievements-container">
            <h1>Osiągnięcia do zdobycia</h1>
        </div>

        <div class="container stats-overall-commit-container" id="stats-so2-commit-container"></div>

    </div>


</body>

</html>

